<Alloy>
	<Tab id="tab2" title="Settings" icon="KS_nav_views.png">
		<Window class="container" title="Settings">
			<TextField id="username" hintText="Username"/>
			<TextField id="password" hintText="Password"/>
			
			<View id="toolbar" platform="ios">
			    <Require src="toolbar"/>
			</View>

		</Window>
	</Tab>	
</Alloy>